body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block{
  /* background-color: grey; */
  height: 700px;
  
}

.secBlock{
  height: 500px;
  
}

.outerHeader{
  margin-bottom: 20px;
  /* background-color: blueviolet; */
}
 .body{
   width: 90%;
   margin: 0 auto;
 }