.loginBox{
    width: 40%;
    margin: 0 auto;
    margin-top: 150px;
    border: solid 1px;
    border-color: grey;
    border-radius: 9px;
    padding: 20px;
    max-width: 400px;

}

.logo{
    font-size: 51px ;


}

.label{
    text-align: left;
}